oot {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  body {
    color: black;
    width: 100%;
    height: 100vh;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  
  .navbar {
    position: fixed;
    background-color: #23232e;
    transition: width 600ms ease;
    overflow: scroll;
  }
  .navbar::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }

  .link-text {
    color: white;
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  .content {
    color: #fbfcfd;
    position: absolute;
    top: 5%;
    right: 8%;
    transform: translateY(50%);
    z-index: 2;
  }

  h1 {
    font-size: 88px;
    margin: 10px 0 30px;
    line-height: 80px;
  }

  button {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
  }

  .stars{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -30px;
  }

  .stars img {
    animation: star 7s linear infinite;
  }

  .stars img:nth-child(1) {
    animation-delay: 2s;
  }
  .stars img:nth-child(2) {
    animation-delay: 1s;
  }
  .stars img:nth-child(3) {
    animation-delay: 3s;
  }
  .stars img:nth-child(4) {
    animation-delay: 4.5s;
  }
  .stars img:nth-child(5) {
    animation-delay: 7s;
  }
  .stars img:nth-child(6) {
    animation-delay: 6s;
  }
  .stars img:nth-child(7) {
    animation-delay: 8s;
  }
  .stars img:nth-child(8) {
    animation-delay: 5.5s;
  }
  .stars img:nth-child(9) {
    animation-delay: 2.5s;
  }
  .stars img:nth-child(10) {
    animation-delay: 5s;
  }

  @keyframes star {
    0%{
      transform: translateY(0);
      opacity: 0;
    }
    50%{
      
      opacity: 1;
    }
    70%{
      
      opacity: 1;
    }
    100%{
      transform: translateY(-80vh);
      opacity: 0;
    }
  }

  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100%;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }

    h1 {
      font-size: 44px;
      margin: 5px 0 15px;
      line-height: 40px;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  